{%extends 'terminal/base.html'%}
{%load static%}

{%block content%}
<a href="{%url 'terminal_index'%}">Return to home</a>

{%include 'terminal/component/barcodeform.html'%}

<h2>Ticket Detail</h2>
{%if object%}
{%include 'terminal/component/ticket_detail.html'%}

<h2>Ticket Inventory</h2>
{%include 'terminal/component/ticket_inventory.html'%}

<h2>Locker Vouchers</h2>
{%include 'terminal/component/ticket_locker.html'%}

<h2>Person of Interest Status</h2>
{%include 'terminal/component/ticket_poi.html'%}
{%else%}
<p>Scan Ticket</p>
{%endif%}
{%endblock%}