<table>
    <tbody>
        {%for locker in locker_list%}
        <tr>
            <th>{{locker.slug}}</th>
            <td>{%if locker.claimed_date%}Claimed {{locker.claimed_date}}{%else%}Not claimed{%endif%}</td>
            <td><a href="#" class="btn btn-default">Abandon</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<form action="{%url 'lockervoucher_create' pk=object.id%}" method="post">
    {%csrf_token%}
    <button type="submit" class="btn btn-default">Assign Locker</button>
</form>
<a href="{%url 'lockervoucher_update_claimed' pk=object.id%}" class="btn btn-default">Redeem Locker Item</a>